# Cognito Configuration
COGNITO_ISSUER_URL=https://cognito-idp.us-east-2.amazonaws.com/us-east-2_assnnd23N
COGNITO_CLIENT_ID=abcd12345

# Lambda IAM Role
LAMBDA_ROLE_ARN=arn:aws:iam::12345678:role/inforcentralrole

# MarketData API 
MARKETDATA_API_KEY=